# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm.toml
*.pdm.lock

.env

# Editor / IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Docker
*.log
*.pid
docker-compose.override.yml

# Banco de dados / dados temporários
db_data/
db_data_segundo/
*.sqlite
*.db

# Logs e cache
*.log
*.tmp
.cache/
